---
layout:events
city:Seoul, South Korea
date:April 11-12, 2014
lang:ko|en
localized_date: 2013년 4월 11일(금)-4월 12일(토)
registration_link: http://onoffmix.com/xxxx
title: 웹 표준 테스트 <br>Better tests for a better web!
sponsors:[W3C, Daum]
speakers:[]
experts:[]
schedule:
ko:
금요일 세션:
"6:30pm-7:00pm":"오프닝"
"7:00pm-7:10pm":"인사, 프레젠터:Shigeo Okamoto"
"7:10pm-7:25pm":"How To Read W3C Specifications(W3C사양 서가 읽는 법)<br>프레젠터:Kazuaki Takemura"
"7:25pm-7:40pm":"Specification and Test Lifecycles(시방서와 테스트의 라이프 사이클)<br>프레젠터:Oli Studholme"
"7:40pm-8:15pm":"전문가들에 의해라이트닝 토크(각 3분간)(필요에 따라 순차 통역)"
"8:15pm-8:30pm":"라이트닝 토크의 내용을 바탕으로 토요일 박하 송의 참가 그룹을 정하겠습니다"
"8:30pm-10:00pm":"저녁 식사와 음료(무료)"
토요일 세션(해커톤 빙식):
"9:00am-9:30am":"아침"
"9:30am-9:45pm":"Testharness.js Essentials(Testharness.js의 기초)<br>발표자:"
"9:45am-10:00pm":"Anatomy of a Ref Test(레퍼런스 테스트는 어떻게 구성되는가)<br>발표자:"
"10:00am-12:00pm":"Hack"
"12:00pm":"점심(그 자리에서 제공됩니다)"
"12:00pm-3:00pm":"Hack"
"3:00pm":"간식 시간"
"3:00pm-5:30pm":"Hack"
"5:30pm-6:00pm":"Demos"
"6:00pm":"친목회(무료·임의 참여)"
default:
Friday's Sessions:
"6:30pm-7:00pm":Check-in
"7:00pm-7:10pm":Welcome&amp;Introduction, Shigeo Okamoto
"7:10pm-7:25pm":How To Read W3C Specifications, Kazuaki Takemura
"7:25pm-7:40pm":Specification and Test Lifecycles, Oli Studholme
"7:40pm-8:15pm":3 Minute Lightning Talks By Experts
"8:15pm-8:30pm":Pick a group, based on Lightning Talks
"8:30pm-10:00pm":Free Dinner/Drinks
Saturday's Sessions:
"9:00am-9:30am":Breakfast
"9:30am-9:45pm":Testharness.js Essentials, Michael[tm]Smith, Daniel Davis
"9:45am-10:00pm":Anatomy of a Ref Test, Rebecca Hauck
"10:00am-12:00pm":Hack
"12:00pm":Lunch is served
"12:00pm-3:00pm":Hack
"3:00pm":Snacks
"3:00pm-5:30pm":Hack
"5:30pm-6:00pm":Demos
"6:00pm":Free After Party

localized_location:
venue: 강남 리츠 칼튼 호텔(서울)
address:[롯폰기 힐스 모리 타워, 롯폰기 6-10-1, 도쿄도 미나토 구,"일본 도쿄에서 106-6126"]
location:
venue:Google Japan
address:[Roppongi Hills Mori Tower, 6-10-1 Roppongi Minato-ku,"Tokyo, Japan 106-6126"]
---

<h2 id="about"lang="ko">Test The Web Forward 소개</h2>
<p lang="ko">
국내 웹 개발자 커뮤니티 멤버 및 해외에서 방문하는 웹 표준 전문가들과 함께 웹 표준에 대한 이해를 높히고, 직접 테스트해 보는 즐거운 교류 행사로서 더 나은 웹 상호 운용성을 위헤 웹 표준에 직접 구체적인 공헌을 할 수 있을 기회입니다!
</p>
<p lang="ko">
Test The Web Forward는 웹 개발자 커뮤니티가 보다 깊은 Web표준 프로세스에 관여함에 따라 Web을 보다 좋게 한다는 움직임이에요. 참가자는 Web의 경험을 구축하는데 빼놓을 수 없는 Web표준 사양을 실제의 사양서와 가까이 접함으로써 Web의 미래를 카타치즈크루 위해 무엇을 할 수 있는지를 발견하고 있습니다. 이 움직임에서는
구체적인 활동 내용으로서 Web표준 사양에 관한 배우고 사양 시험 케이스의 작성과 실행, 그리고 커뮤니티의 활성화를 추진하고 있습니다. 그 일환으로 된 Test The Web Forward이벤트는 지금까지 샌 프란시스코, 파리, 북경, 시드니, 시애틀과 세계 각국을 돌아 왔는데, 이번에 대망의 도쿄에서 개최할 수 있게 되었습니다!
</p>
<p lang="ja">
이 이벤트의 참가자는 W3C사양 서가 읽는 방법이나 각 브라우저의 대응 상황에 대해 배우고, 이해할 뿐만 아니라, 모든 브라우저에 그것들의 사양이 일관되게 구현되는 것을 촉진하고 견고한 테스트를 W3C사양 에디터들과 함께 이 자리에서 작성하게 됩니다. 결과적으로 브라우저 내부의 구조와, 명확하고 견고한 테스트를 작성하기 위한 보다 깊은 지식을 얻을 수 있습니다.
</p>
<p lang="ja">
참가자에게는 HTML, CSS및 JavaScript로 코드가 쓸 스킬 레벨이 요구되지만 W3C외 Adobe, Google, KDDI, Microsoft, Mozilla, Nokia, NTT docomo, 라쿠텐을 비롯한 조직·업체에서 참여하는 전문가들이 스텝 바이 스텝에서 테스트 작성 방법을 안내 합니다.(역주:영어 스피커의 경우는 회장에 있는 통역 도우미의 도움이 들어갑니다)
</p>
<hr class="section"/>
<p>
Come meet members of the Japanese Web community and experts from all over the world for a weekend of learning, coding, food, drinks and fun. Help make a more interoperable&amp;better Web!
</p>

<p>
Test The Web Forward is a movement to make the Web better by getting the Web community involved in Web standards. We bring you closer to the very specifications that you use to craft web experiences and help you discover how you can shape the future of the Web. This is done through education, test contributions and by growing the community. This movement has already rallied the Web communities of San Francisco, Paris, Beijing, Sydney and Seattle, now we are honored to bring it to Tokyo!
</p>
<p>
Over the course of the event, not only will you learn to understand different browsers, but you will also create robust tests along with the editors of various standards to ensure browsers implement these features consistently. At the end of it, you will gain a deeper understanding of browser internals&amp;how you can write clear, robust tests.
</p>
<p>
We expect you to be able to code in HTML, CSS or JavaScript, but there will be experts from the W3C, Adobe, Google, KDDI, Microsoft, Mozilla, Nokia, NTT DoCoMo, Rakuten, and others that will guide you step-by-step to create tests.

</p>

{%include events/schedule.html lang=page.lang schedule=page.schedule%}

<p>행사의 모습은 비디오로 촬영할 예정입니다. 비디오로 촬영되고 싶지 않은 경우는,<a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>까지 상담해요(일본어 가능).</p>
<p>
<b>Note:</b>We will be recording the event. If you would like to be excluded from appearing in the video, please contact
<a href="mailto:testthewebforward@gmail.com">testthewebforward@gmail.com</a>.
</p>

{%include events/speakers.html lang=page.lang speakers=page.speakers%}

<p>모든 영어 세션은 순차 통역 첨부로 실시합니다</p>
<p><b>Note:</b>All talks will be given in Japanese with English presentation materials.</p>

{%include events/experts.html lang=page.lang experts=page.experts%}
{%include events/location.html lang=page.lang map_link="http://bit.ly/14NTlMA"map_embed="http://bit.ly/176Ib6x"%}

<div lang="ja">
<p>구글 주식 회사 사무실은 도쿄 메트로 롯폰기 역 근처입니다.</p>
<p>
도쿄 지하철 히비야 선 또는 오에도 선의 롯폰기 역에서 이하의<a href="https://goo.gl/maps/aiAPq">경로(Google Maps)</a>에서 사무실이 있는 롯폰기 힐스 모리 타워에 도착합니다.
</p>
</div>

<div>
<p>Google Japan is easily accessible by the Tokyo Metro.</p>

<p>
Take the Tokyo Metro Hibiya line or the Toei Oedo line to Roppongi station. From the station, follow
<a href="https://goo.gl/maps/I5SkN">the route on Google maps</a>to the Google office in Mori Tower.
</p>
</div>

<h2 id="requirements-ja"lang="ja">참가자에게 요구되는 스킬 레벨</h2>

<p lang="ja"><b>참가 자격:HTML, CSS, JavaScript로 코드가 쓰는</b></p>

<h3>사전에 필요한 준비</h3>

<p>당일까지 미리 이하의 작업을 벌여 두세요.</p>
<ul>
<li><a href="http://www.w3.org/Help/Account/Request/Public">W3C일반 계정 등록 폼(영어)</a></li>
<li><a href="http://www.w3.org/2002/09/wbs/1/testgrants2-200409">W3C라이센스 허락 질문 표(영어)</a></li>
<li><a href="/jp/resources/github_test_submission.html">Github의 설정에 대해</a></li>
<li><a href="http://adobe.github.io/web-platform/presentations/testtwf-how-to-write-a-reftest-jp/#/">레퍼런스 테스트의 쓰는 법</a></li>
</ul>

<p>
이번 행사에서 공부하고 테스트를 작성하는 사양의 현재의 후보를 아래에 써냈습니다. 행사에 참여하기 전에 미리 이 목록에 있는 시방서 가운데 적어도 1개를 읽고 어떤 것인지를 대충 파악해 두세요.:
</p>

<h3>HTML5:</h3>
<ul>
<li><a href="http://www.w3.org/TR/html5/">HTML5사양</a></li>
</ul>

<h3>CSS:</h3>
<ul>
<li><a href="http://www.w3.org/TR/css3-flexbox/">CSS Flexbox</a></li>
<li><a href="http://www.w3.org/TR/css3-text/">CSS Text</a></li>
<li><a href="http://dev.w3.org/csswg/css-writing-modes/">CSS Writing Modes</a></li>
<li><a href="http://www.w3.org/TR/css3-fonts/">CSS Fonts</a></li>
</ul>

<h3>SVG</h3>
<ul>
<li><a href="http://www.w3.org/TR/SVG/filters.html">SVG Filter Effects</a></li>
</ul>

<h2 id="requirements">Requirements</h2>

<p><b>You must be able to hand code HTML, JavaScript and CSS to participate.</b></p>

<h3>Before you begin</h3>

<p>Please complete the following in preparation for the event:</p>

<ul>
<li><a href="http://www.w3.org/Help/Account/Request/Public">W3C Public Account Request Form</a></li>
<li><a href="http://www.w3.org/2002/09/wbs/1/testgrants2-200409">W3C Grant of License Questionnaire</a></li>
<li><a href="/resources/github_test_submission.html">Setup Github</a></li>
<li><a href="http://adobe.github.io/web-platform/presentations/testtwf-how-to-write-a-reftest/#/">How to Write a Ref Test</a></li>
</ul>

<p>
Prior to attending, you will also want to read and become familiar with at least one of the features so that you have the foundation required to participate. Here are the features we will focus on learning and testing:
</p>

<h3>HTML5:</h3>

<ul>
<li><a href="http://www.w3.org/TR/html5/">Main HTML5 Spec</a></li>
</ul>

<h3>CSS:</h3>
<ul>
<li><a href="http://www.w3.org/TR/css3-flexbox/">CSS Flexbox</a></li>
<li><a href="http://www.w3.org/TR/css3-text/">CSS Text</a></li>
<li><a href="http://dev.w3.org/csswg/css-writing-modes/">CSS Writing Modes</a></li>
<li><a href="http://www.w3.org/TR/css3-fonts/">CSS Fonts</a></li>
</ul>

<h3>SVG</h3>
<ul>
<li><a href="http://www.w3.org/TR/SVG/filters.html">SVG Filter Effects</a></li>
</ul>

<p>
If there are other features or areas you want to write or modify tests for, we are happy to help.
</p>

{%include events/sponsors.html lang=page.lang%}
